/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}

.bg-continer {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading {
  color: #ffffff;
  font-family: "Roboto";
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 55px;
  }
}
.image {
  width: 150px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 300px;
  }
}
